@import "ui-variables";

.container-signatures {
  max-width: 640px;
  margin: 0 auto;

  .empty-list {
    height: 300px;
    width: inherit;
    background-color: @background-primary;
    border: 1px solid @border-color-divider;
    text-align: center;
    padding: 60px;

    .icon-signature {
      height: 120px;
    }

    h2 {
      color: @text-color-very-subtle;
    }

    .btn {
      margin-top: 10px;
    }
  }


  .signature-list {
    position: relative;
    height: inherit;
    width: inherit;

    .items-wrapper {
      min-width:200px;
      height: 264px;
    }
    .item-rule-disabled {
      color: @color-error;
      padding: 4px 10px;
      border-bottom: 1px solid @border-color-divider;
    }
    .selected .item-rule-disabled {
      color: @component-active-bg;
    }

    .editable-item {
      padding: 8px 10px;
      border-bottom: none;
    }

    .btn-editable-list {
      height: 35px;
      width: 35px;
      line-height: 35px;
    }
  }

  .signature-wrap {
    position: relative;
    border: 1px solid @input-border-color;
    background-color: @white;
    min-height: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    width: 100%;

    textarea {
      padding: 10px;
      border: 0;
      flex: 1;
      font-family: monospace;
      font-size: 0.9em;
    }

    .contenteditable {
      padding: 10px;
    }

    .editable-toolbar {
      border-top: 1px solid @input-border-color;
      padding: 6px;

      .render-mode {
        float: right;
      }

      .account-picker {
        display: inline-block;
        color: @text-color-subtle;

        select {
          margin: 0;
        }
      }
    }

  }

}
